extends layout

block content
	h1= title
	form.loginform(name="accountlogin", method="post", action="authenticate")
		div.input
			label.emaillabel Email
			input(type="text", name="email")
			label.passwordlabel Password
			input(type="password", name="password")
		div.actions
			input(type="submit")
