extends layoutloggedin

block content
	div.infoContent
		h1 The [Bank] Current Account is the most super duper awesome current account you've ever seen.
		h3 With an interest rate of 0.0000000000000000000000000004% you can keep winning.
		a(href='current-account/apply')
			h1 Apply Here!