doctype html
html
	head
		title= 'Fisher Bank | ' + title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', href='/images/favicon.ico')
	body
		ul.menulist
			li.menuitem
				a(href="/") Home
			li.menuitem
				a(href="/login") Log In
			li.menuitem
				a(href="/create-account") Create Account
		div.content
			block content
		ul.footerlist
			li.footeritem
				a(href="/") Home
			li.footeritem
				a(href="/login") Log In