extends layoutloggedin

block content
	h1 Welcome #{title}
	h3 Your available balance:
	h2 #{displaybalance} GBP
	h3.activitybutton
		a.deposit(href='profile/deposit') Deposit.
	h3.activitybutton
		a.withdraw(href='profile/withdraw') Withdraw.