extends layoutloggedin

block content
	h1 Welcome #{title}
	h3 Your available balance:
	h2 #{displaybalance} GBP
	form.transferadd(action="addmoney", method="post")
		input.addbutton(type="submit", name="addmoney", value="Add £5!")