.menulist{
	list-style-type: none;
	margin: 0;
	padding: 14.5px 0;
	background-color: #000a51;
}

.menuitem{
	display: inline;
}

.menuitem a:hover{
	background-color: lime;
}

.menuitem a{
	text-decoration: none;
	background-color: green;
	padding: 15px;
}

.content{
	margin: 25px;
}

.loginform{
	width: 300px;
}

.loginform input, label{
	margin-right: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.loginform input[type="submit"]{
	padding: 20px 40px;
	margin-top: 20px;
	background-color: green;
	
}

.loginform input[type="submit"]:hover{
	background-color: lime;
	cursor: pointer;
}

.footerlist{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000a51;
}

.footeritem{
	padding: 10px;
}

.footeritem a{
	text-decoration: none;
}

body {
	background-color: #f1f1f1;
	padding: 0;
	margin: 0;
}

a {
  color: #00B7FF;
}
