.menulist{
	list-style-type: none;
	margin: 0;
	padding: 15px 0;
	background-color: #000a51;
}

.menuitem{
	display: inline;
	padding: 15px;
	background-color: green;
}

.menuitem:hover{
	background-color: lime;
}

.menuitem a{
	text-decoration: none;
}

.content{
	margin: 25px;
}

.footerlist{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000a51;
}

.footeritem{
	padding: 10px;
}

.footeritem a{
	text-decoration: none;
}

body {
	background-color: #f1f1f1;
	padding: 0;
	margin: 0;
}

a {
  color: #00B7FF;
}
